<div class='home row'>
  <div class='col-md-6 order-1 order-md-0 logo'>
    <%= image_tag("twitter.svg", alt: "Twitter-ish logo", width: '320') %>
  </div>
  <div class='interface order-0 order-md-1 col-md-6'>
    <%= image_tag("twitter.svg", alt: "Twitter-ish logo", width: '50') %>
    <h1>About Twitter-ish</h1>
    <h3 class='px-4'>Redesign of Twitter. Built with Rails</h3>
    <h4 class='mt-5'>Acknowledgements</h4>
    <ul class='my-1'>
      <li>Icons, themes and layout inspired by &nbsp;
        <a href="https://www.behance.net/gallery/14286087/Twitter-Redesign-of-UI-details" target='_blank'>
          Gregoire Vella
        </a>
      </li>
      <li>Credit for default cover image: Unsplash creative &nbsp;
        <a href="https://unsplash.com/@julian_bck" target='_blank'>
          Julian Böck
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="footer"> 
  <ul>
    <li class='footer-link'><%= link_to "Home", root_path %></li>
    <li class='footer-link'><a href="https://www.linkedin.com/in/ubong-itok" target='_blank'>LinkedIn</a></li>
    <li class='footer-link'><a href="https://github.com/george-swift" target='_blank'>Github</a></li>
  </ul>
  <span>© 2021 Twitter-ish, Inc.</span>
</div>