<section class='left-menu col-2 p-0'>
  <div class="user-info">
    <h1>
      <%= avatar_for(current_user) %>
      <%= current_user.username %>
    </h1>
  </div>
  <div class="stats row">
    <a href="#"> <strong id="following"> 100 </strong>Following</a>
    <a href="#"> <strong id="followers"> 1000 </strong>Followers </a>
  </div>
  <%= render 'side_nav' %>
</section>