<div class='container'>
  <div class='signup row justify-content-center'>
    <div class="col-md-8 col-md-offset-2 ">
      <div>
        <%= link_to image_tag("twitter-blue.svg", alt: "Twitter-ish logo"), root_path %>
        <h2>Create your account</h2>
      </div>
    </div>
  </div>
</div>