@import 'bootstrap';

$twitter-blue: rgb(29, 161, 242);
$twitter-gray: rgb(217, 217, 217);
$twitter-gray-dark: rgb(110, 118, 125);
$twitter-night: rgb(36, 52, 71);
$black: rgb(0, 0, 0);

$helvetica: 'Helvetica', 'Arial', sans-serif;
$segoe: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

@mixin transform {
  transform: scale(1.15) translateY(-4px);
  transition: 0.4s ease-in;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex {
  display: flex;
  align-items: center;
}

body {
  box-sizing: border-box;
}

.debug_dump {
  width: 100%;
  padding: 0 40px;
  margin-top: 10px;
}

h2 {
  font: 700 23px/28px $segoe;
  margin-top: 1em;
  margin-bottom: 1em;
}

ul {
  list-style: none;
  margin: 0;
}

// Styling rules for Twitter-ish home page

.home {
  height: 92vh;
  width: 100vw;
  margin: 0;
}

.logo {
  @include center;

  background-color: $twitter-blue;
}

.interface {
  @include center;

  flex-direction: column;
  background-color: $black;
  color: $twitter-gray;

  h1 {
    margin-top: 16px;
    font: 700 64px/84px $segoe;
    letter-spacing: -1.2px;
  }

  h3 {
    font: 700 31px/36px $segoe;
  }

  .options {
    margin-top: 1em;
    list-style: none;
    padding: 5px;

    li {
      background-color: $twitter-blue;
      height: 45px;
      width: 250px;
      margin-bottom: 1em;

      @include center;

      &:hover {
        @include transform;
      }

      &:last-child {
        background-color: $black;
        border: 2px solid $twitter-blue;

        a {
          color: $twitter-blue;
        }
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      font: 700 15px/20px $segoe;
    }
  }
}

.footer {
  @include flex;

  justify-content: space-between;
  padding-right: 25px;
  background-color: $black;
  color: $twitter-gray-dark;
  height: 8vh;
  font: 400 13px/16px $segoe;

  ul {
    @include flex;

    li {
      margin-right: 1em;
    }

    a {
      color: $twitter-gray-dark;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }
}

@media (max-width: 600px) {
  .interface {
    h1 {
      font-size: 40px;
      line-height: 52.5px;
    }

    h3 {
      font-size: 23px;
      line-height: 28px;
    }
  }
}

// Styling rules for sign up page

.signup {
  padding: 2em 0.8em;

  input,
  textarea,
  select {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
  }

  input {
    height: auto !important;
  }

  .btn {
    border: none;
    background: $twitter-blue;
    color: #fff;
    font-weight: 600;

    &:hover {
      background: $twitter-night;
    }
  }
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .is-invalid;

  .form-control {
    color: $danger;
  }
}

// Styling rules for user show page

.left-menu {
  background: $twitter-night;
  color: $twitter-gray;
}

.timeline {
  padding: 0;

  .navbar {
    background: $twitter-blue;
    align-items: center;
  }

  .navbar-brand {
    &:hover {
      @include transform;
    }
  }

  ul {
    li {
      margin-right: 2em;

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 20px;

        &:hover {
          @include transform;
        }
      }
    }
  }
}
