@import 'bootstrap';

// Custom variables and mixins

$twitter-blue: rgb(29, 161, 242);
$twitter-gray: rgb(217, 217, 217);
$twitter-gray-dark: rgb(110, 118, 125);
$twitter-night: rgb(36, 52, 71);
$black: rgb(0, 0, 0);

$helvetica: 'Helvetica', 'Arial', sans-serif;
$segoe: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

@mixin border {
  border-top: 1px solid $twitter-gray-dark;
  border-bottom: 1px solid $twitter-gray-dark;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin font {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin link {
  padding: 8px 10px;
  text-align: center;
  color: $twitter-gray-dark;
  font-size: 12px;
  border-left: 1px solid $twitter-gray-dark;

  &:first-child {
    padding-left: 0;
    border: 0;
  }
}

@mixin margin {
  border-radius: 50%;
  margin-right: 0;
  margin-bottom: 0.8em;
}

@mixin padding {
  padding-top: 15px;
  padding-bottom: 12px;
}

@mixin transform {
  transform: scale(1.15) translateY(-4px);
  transition: 0.4s ease-in;
}

@mixin list-ui {
  li:hover {
    background-color: $twitter-blue;
  }
}

@mixin effect {
  li:hover {
    a {
      color: #fff;
    }
  }
}

@mixin link-ui {
  a:hover {
    color: #fff;
  }
}

// General rules for html elements and bootstrap classes

body {
  box-sizing: border-box;

  .container-fluid {
    padding: 0;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.debug_dump {
  width: 100%;
  padding: 0 40px;
  margin-top: 10px;
}

h2 {
  font: 700 23px/28px $segoe;
  margin-top: 1em;
  margin-bottom: 1em;
}

ul {
  list-style: none;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  background-color: $twitter-blue;

  li {
    margin-right: 2.5em;
  }
}

strong {
  display: block;
  font-size: 14px;
}

// Styling rules for Twitter-ish main page before log in or sign up

.home {
  height: 92vh;
}

.interface {
  flex-direction: column;
  background-color: $black;
  color: $twitter-gray;

  h1 {
    margin-top: 16px;
    font: 700 64px/84px $segoe;
    letter-spacing: -1.2px;
  }

  h3 {
    font: 700 31px/36px $segoe;
  }
}

.logo {
  background-color: $twitter-blue;
}

.logo,
.interface,
.interface li {
  @include center;
}

.options {
  margin-top: 1em;
  padding: 5px;

  li {
    height: 45px;
    width: 250px;
    margin-bottom: 1em;
    background-color: $twitter-blue;
  }

  .bg {
    background-color: $black;
    border: 2px solid $twitter-blue;
  }

  a {
    color: #fff;
    font: 700 15px/20px $segoe;
  }
}

.footer {
  @include flex;
  @include effect;

  height: 8vh;
  justify-content: space-between;
  padding-right: 25px;
  background-color: $black;
  color: $twitter-gray-dark;
  font: 400 13px/16px $segoe;

  ul {
    @include flex;
  }
}

.footer-link {
  margin-right: 1em;

  a {
    color: $twitter-gray-dark;
  }
}

@media (max-width: 600px) {
  .interface {
    h1 {
      font-size: 40px;
      line-height: 52.5px;
    }

    h3 {
      font-size: 23px;
      line-height: 28px;
    }
  }
}

// Styling rules for Twitter-ish sign up and log in page

.signup {
  padding-top: 2em;

  input,
  textarea,
  select {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
  }

  input {
    height: auto !important;
  }

  small {
    font-style: italic;
  }

  .btn {
    background-color: $twitter-blue;
    border: none;
    color: #fff;
    font-weight: 600;

    &:hover {
      background: $twitter-night;
    }
  }
}

// Styling rules for error messages and input fields

#error_explanation {
  color: $danger;

  ul {
    color: $danger;
    list-style: disc;
    margin-right: 30px;
  }
}

.field_with_errors {
  @extend .is-invalid;

  .form-control {
    color: $danger;
  }
}

// Styling rules for Twitter-ish page after successful log in

.twitter-ish {
  min-height: 100vh;
}

.left-menu {
  background: $twitter-night;
  color: $twitter-gray;

  a {
    color: $twitter-gray-dark;
  }

  @include link-ui;
}

.avatar {
  width: 40px;
  margin-right: 12px;
  border: 2px solid $twitter-gray-dark;
  background: $twitter-night;
}

.profile-dp {
  max-width: 50px;
  height: 45px;
  border: 1px solid $twitter-gray-dark;
  border-radius: 4px;
  padding: 3px;
  margin-right: 10px;
}

.user-info {
  padding: 1.5em 1.5em 0.7em;

  h1 {
    font-size: 1em;
    font-family: $helvetica;
  }
}

.stats {
  @include border;

  a {
    width: 50%;
    transition: color 1s ease-out;

    @include link;
  }
}

.app-nav {
  a {
    transition: color 0.5s ease-in;

    @include flex;
    @include font;
  }

  li {
    padding: 15px 20px;
  }

  @include list-ui;
}

.nav-icon {
  width: 18px;
  margin-right: 8px;
}

// Styling rules for center section of Twitter-ish page on log in

.main {
  background: #f8f9f9;
}

.top-icons {
  width: 20px;
}

.timeline {
  border-right: 1px solid $twitter-gray;
}

.tab {
  @include flex;

  border-bottom: 1px solid $twitter-gray;
}

.tab-link {
  padding: 10px 20px;

  a {
    color: $twitter-gray-dark;

    @include font;
  }

  &:hover {
    border-bottom: 3px solid $twitter-blue;

    a {
      color: $black;
    }
  }
}

.tweets {
  background: #fff;
  margin: 25px 15px;
  border-radius: 3px;
  border: 1px solid $twitter-gray;
}

.wrap-tweets {
  padding: 0 20px;

  li {
    @include padding;
  }
}

.index {
  @include font;

  color: $twitter-blue;
  border-bottom: 1px solid $twitter-gray;
}

.cover-image {
  img {
    width: 100%;
    height: 100%;
  }
}

// Styling rules for right-section: Profile Info

.wrap-profile,
.cover-image {
  height: 300px;
}

.profile-info {
  @include center;

  height: 81%;
  flex-direction: column;

  .avatar {
    width: 85px;
  }

  .profile-dp {
    max-width: 100%;
    height: auto;
  }

  .avatar,
  .profile-dp {
    @include margin;
  }

  p {
    &:first-of-type {
      font: 600 0.95em $helvetica;
      text-transform: uppercase;
      letter-spacing: 0.55px;
    }

    &:last-of-type {
      color: $twitter-gray-dark;
    }
  }
}

.profile-stats {
  @include border;

  strong {
    color: $black;
  }

  .stat {
    width: 33%;

    @include link;

    &:hover {
      strong {
        @include transform;
      }
    }
  }
}

// Styling rules for right section: Followed By

.wrap-handles {
  @extend .wrap-tweets;
}

.followers {
  @extend .index;

  color: $twitter-gray;
}

.handle {
  .avatar,
  .profile-dp {
    border-radius: 50%;
  }
}

.name {
  font: 700 13px $segoe;
  color: $black;
}

.username {
  font-size: 12px;
  color: $twitter-gray-dark;
}

.add-btn {
  width: 35px;
  margin-left: 40px;
}

// Grouped selectors to DRY up stylesheet

.user-info h1,
.handle,
.info {
  @include flex;
}

.signup-link,
.options li:last-child a {
  color: $twitter-blue;
}

.options li:hover,
.top-icons:hover,
.navbar-brand:hover,
.add-btn:hover {
  @include transform;
}
